.sound-vis {
  position: relative;
  height: 0;
}

.sound-vis--small {
  width: 30px;
  height: 15px;
}

.sound-vis--small i {
  width: 1px;
}

.sound-vis--large {
  width: 70px;
  height: 35px;
}

.sound-vis--large i {
  width: 5px;
  background-color: transparent !important;
  border: 1px solid #fff;
  border-bottom: none;
  border-radius: 2.5px 2.5px 0 0;
}

.sound-vis.audio-playing i {
  -webkit-transition: 600ms ease-in-out all;
  transition: 600ms ease-in-out all;
  height: 10%;
}

.sound-vis.audio-playing i:nth-child(1) {
  -webkit-animation: playing-1 5s linear infinite alternate;
          animation: playing-1 5s linear infinite alternate;
}

.sound-vis.audio-playing i:nth-child(2) {
  -webkit-animation: playing-2 5s linear infinite alternate;
          animation: playing-2 5s linear infinite alternate;
}

.sound-vis.audio-playing i:nth-child(3) {
  -webkit-animation: playing-3 5s linear infinite alternate;
          animation: playing-3 5s linear infinite alternate;
}

.sound-vis.audio-playing i:nth-child(4) {
  -webkit-animation: playing-4 5s linear infinite alternate;
          animation: playing-4 5s linear infinite alternate;
}

.sound-vis.audio-playing i:nth-child(5) {
  -webkit-animation: playing-5 5s linear infinite alternate;
          animation: playing-5 5s linear infinite alternate;
}

.sound-vis.audio-paused i {
  height: 10%;
  -webkit-transition: 600ms ease-in-out all;
  transition: 600ms ease-in-out all;
}

.sound-vis i {
  display: inline-block;
  background-color: #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 1px;
      flex-basis: 1px;
  -webkit-transition: 600ms ease-in-out all;
  transition: 600ms ease-in-out all;
}

@-webkit-keyframes playing-1 {
  5% {
    height: 91%;
  }
  10% {
    height: 56%;
  }
  15% {
    height: 94%;
  }
  20% {
    height: 21%;
  }
  25% {
    height: 34%;
  }
  30% {
    height: 65%;
  }
  35% {
    height: 14%;
  }
  40% {
    height: 70%;
  }
  45% {
    height: 30%;
  }
  50% {
    height: 94%;
  }
  55% {
    height: 42%;
  }
  60% {
    height: 83%;
  }
  65% {
    height: 6%;
  }
  70% {
    height: 82%;
  }
  75% {
    height: 32%;
  }
  80% {
    height: 33%;
  }
  85% {
    height: 75%;
  }
  90% {
    height: 14%;
  }
  95% {
    height: 78%;
  }
  100% {
    height: 88%;
  }
}

@keyframes playing-1 {
  5% {
    height: 91%;
  }
  10% {
    height: 56%;
  }
  15% {
    height: 94%;
  }
  20% {
    height: 21%;
  }
  25% {
    height: 34%;
  }
  30% {
    height: 65%;
  }
  35% {
    height: 14%;
  }
  40% {
    height: 70%;
  }
  45% {
    height: 30%;
  }
  50% {
    height: 94%;
  }
  55% {
    height: 42%;
  }
  60% {
    height: 83%;
  }
  65% {
    height: 6%;
  }
  70% {
    height: 82%;
  }
  75% {
    height: 32%;
  }
  80% {
    height: 33%;
  }
  85% {
    height: 75%;
  }
  90% {
    height: 14%;
  }
  95% {
    height: 78%;
  }
  100% {
    height: 88%;
  }
}

@-webkit-keyframes playing-2 {
  5% {
    height: 42%;
  }
  10% {
    height: 45%;
  }
  15% {
    height: 91%;
  }
  20% {
    height: 38%;
  }
  25% {
    height: 69%;
  }
  30% {
    height: 91%;
  }
  35% {
    height: 68%;
  }
  40% {
    height: 82%;
  }
  45% {
    height: 71%;
  }
  50% {
    height: 61%;
  }
  55% {
    height: 85%;
  }
  60% {
    height: 90%;
  }
  65% {
    height: 89%;
  }
  70% {
    height: 37%;
  }
  75% {
    height: 24%;
  }
  80% {
    height: 35%;
  }
  85% {
    height: 72%;
  }
  90% {
    height: 24%;
  }
  95% {
    height: 100%;
  }
  100% {
    height: 95%;
  }
}

@keyframes playing-2 {
  5% {
    height: 42%;
  }
  10% {
    height: 45%;
  }
  15% {
    height: 91%;
  }
  20% {
    height: 38%;
  }
  25% {
    height: 69%;
  }
  30% {
    height: 91%;
  }
  35% {
    height: 68%;
  }
  40% {
    height: 82%;
  }
  45% {
    height: 71%;
  }
  50% {
    height: 61%;
  }
  55% {
    height: 85%;
  }
  60% {
    height: 90%;
  }
  65% {
    height: 89%;
  }
  70% {
    height: 37%;
  }
  75% {
    height: 24%;
  }
  80% {
    height: 35%;
  }
  85% {
    height: 72%;
  }
  90% {
    height: 24%;
  }
  95% {
    height: 100%;
  }
  100% {
    height: 95%;
  }
}

@-webkit-keyframes playing-3 {
  5% {
    height: 6%;
  }
  10% {
    height: 96%;
  }
  15% {
    height: 26%;
  }
  20% {
    height: 72%;
  }
  25% {
    height: 32%;
  }
  30% {
    height: 72%;
  }
  35% {
    height: 3%;
  }
  40% {
    height: 16%;
  }
  45% {
    height: 88%;
  }
  50% {
    height: 57%;
  }
  55% {
    height: 64%;
  }
  60% {
    height: 31%;
  }
  65% {
    height: 98%;
  }
  70% {
    height: 71%;
  }
  75% {
    height: 93%;
  }
  80% {
    height: 81%;
  }
  85% {
    height: 19%;
  }
  90% {
    height: 76%;
  }
  95% {
    height: 63%;
  }
  100% {
    height: 72%;
  }
}

@keyframes playing-3 {
  5% {
    height: 6%;
  }
  10% {
    height: 96%;
  }
  15% {
    height: 26%;
  }
  20% {
    height: 72%;
  }
  25% {
    height: 32%;
  }
  30% {
    height: 72%;
  }
  35% {
    height: 3%;
  }
  40% {
    height: 16%;
  }
  45% {
    height: 88%;
  }
  50% {
    height: 57%;
  }
  55% {
    height: 64%;
  }
  60% {
    height: 31%;
  }
  65% {
    height: 98%;
  }
  70% {
    height: 71%;
  }
  75% {
    height: 93%;
  }
  80% {
    height: 81%;
  }
  85% {
    height: 19%;
  }
  90% {
    height: 76%;
  }
  95% {
    height: 63%;
  }
  100% {
    height: 72%;
  }
}

@-webkit-keyframes playing-4 {
  5% {
    height: 52%;
  }
  10% {
    height: 36%;
  }
  15% {
    height: 46%;
  }
  20% {
    height: 76%;
  }
  25% {
    height: 48%;
  }
  30% {
    height: 37%;
  }
  35% {
    height: 40%;
  }
  40% {
    height: 25%;
  }
  45% {
    height: 38%;
  }
  50% {
    height: 73%;
  }
  55% {
    height: 51%;
  }
  60% {
    height: 11%;
  }
  65% {
    height: 26%;
  }
  70% {
    height: 6%;
  }
  75% {
    height: 96%;
  }
  80% {
    height: 38%;
  }
  85% {
    height: 78%;
  }
  90% {
    height: 26%;
  }
  95% {
    height: 37%;
  }
  100% {
    height: 60%;
  }
}

@keyframes playing-4 {
  5% {
    height: 52%;
  }
  10% {
    height: 36%;
  }
  15% {
    height: 46%;
  }
  20% {
    height: 76%;
  }
  25% {
    height: 48%;
  }
  30% {
    height: 37%;
  }
  35% {
    height: 40%;
  }
  40% {
    height: 25%;
  }
  45% {
    height: 38%;
  }
  50% {
    height: 73%;
  }
  55% {
    height: 51%;
  }
  60% {
    height: 11%;
  }
  65% {
    height: 26%;
  }
  70% {
    height: 6%;
  }
  75% {
    height: 96%;
  }
  80% {
    height: 38%;
  }
  85% {
    height: 78%;
  }
  90% {
    height: 26%;
  }
  95% {
    height: 37%;
  }
  100% {
    height: 60%;
  }
}

@-webkit-keyframes playing-5 {
  5% {
    height: 55%;
  }
  10% {
    height: 23%;
  }
  15% {
    height: 12%;
  }
  20% {
    height: 32%;
  }
  25% {
    height: 70%;
  }
  30% {
    height: 3%;
  }
  35% {
    height: 44%;
  }
  40% {
    height: 21%;
  }
  45% {
    height: 75%;
  }
  50% {
    height: 2%;
  }
  55% {
    height: 91%;
  }
  60% {
    height: 14%;
  }
  65% {
    height: 35%;
  }
  70% {
    height: 56%;
  }
  75% {
    height: 94%;
  }
  80% {
    height: 55%;
  }
  85% {
    height: 23%;
  }
  90% {
    height: 25%;
  }
  95% {
    height: 74%;
  }
  100% {
    height: 12%;
  }
}

@keyframes playing-5 {
  5% {
    height: 55%;
  }
  10% {
    height: 23%;
  }
  15% {
    height: 12%;
  }
  20% {
    height: 32%;
  }
  25% {
    height: 70%;
  }
  30% {
    height: 3%;
  }
  35% {
    height: 44%;
  }
  40% {
    height: 21%;
  }
  45% {
    height: 75%;
  }
  50% {
    height: 2%;
  }
  55% {
    height: 91%;
  }
  60% {
    height: 14%;
  }
  65% {
    height: 35%;
  }
  70% {
    height: 56%;
  }
  75% {
    height: 94%;
  }
  80% {
    height: 55%;
  }
  85% {
    height: 23%;
  }
  90% {
    height: 25%;
  }
  95% {
    height: 74%;
  }
  100% {
    height: 12%;
  }
}

@-webkit-keyframes idle {
  to {
    opacity: 0.3;
  }
}

@keyframes idle {
  to {
    opacity: 0.3;
  }
}
/*# sourceMappingURL=visualizer.css.map */