    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    :root {
      --main-radius: 5px;
      /* --main-padding: 8px; */
    }

    .container {
      display: grid;
      height: 100vh;
      padding: 5px;
      grid-template-columns: 1fr;
      grid-template-rows: 0.01fr 1fr 0.01fr;
      grid-template-areas:
        "nav"
        "player"
        "footer";
      gap: 0.2rem;
      color: #004d40;
      text-align: center;
    }

    nav {
      // background: #ddd;
      grid-area: nav;
      border-radius: var(--main-radius);
    }

    .player {
      /* background: #ddd; */
      grid-area: player;
      border-radius: var(--main-radius);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    footer {
      // background: #ddd;
      grid-area: footer;
      border-radius: var(--main-radius);
    }

    .song-panel {
      width: 75%;
      background-color: gold;
      border-radius: 15px 15px 0 0;
      display: flex;
      justify-content: flex-end;
      transform: translate3d(0, 110%, 0);
      transition: all 1s ease;
      z-index: 0;
      box-shadow: 0px 33px 90px 11px rgba(147, 84, 103, 0.6);

      .song-info {
        width: 100%;
        height: 70px;
        padding: 10px 20px;

        .song-info__title {
          color: #444b59;
          font-size: 0.8rem;
          font-weight: bold;
          margin-bottom: 5px;
        }

        .song-info__artist {
          color: #a5a7af;
          font-size: 0.7rem;
          margin-bottom: 10px;
        }

        .progress {
          background: #fff;
          border-radius: 3px;
          cursor: ew-resize;
          display: flex;
          flex: 10;
          flex-basis: 100%;
          max-height: 5px;
          position: relative;
          transition: height 0.3s;
          width: 100%;

          .progress__filled {
            background: #fc8da8;
            flex: 0;
            flex-basis: 0%;
            width: 50%;
          }
        }
      }

      &.playing {
        transform: translate3d(0, 25%, 0);
        transition: all 1s ease;
      }
    }

    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      position: relative;
    }

    button:hover,
    button.playing {
      color: black;
    }

    button.play span.pause {
      background-color: black;
      position: absolute;
      top: 10%;
      height: 35px;
      width: 10px;
      display: block;
      border-radius: 3px;
      opacity: 0;
      transition: all 0.5s ease;
    }

    button.play span.pause.left {
      left: 0;
    }

    button.play.playing span.pause.left {
      left: 8px;
      opacity: 1;
      transition: left 0.5s ease, opacity 0.8s ease;
    }

    button.play span.pause.right {
      right: 0;
    }

    button.play.playing span.pause.right {
      right: 8px;
      opacity: 1;
      transition: right 0.5s ease, opacity 0.8s ease;
    }

    button.play i {
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    button.play.playing i {
      opacity: 0;
      transition: all 0.5s ease;
    }

    button.pause i {
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    button.pause.playing i {
      opacity: 0;
      transition: all 0.5s ease;
    }

    button:focus {
      outline: none;
    }

    .player-controls {
      position: relative;
      background-color: #fff;
      border-radius: 75px;
      width: 90%;
      // height: 23%;
      display: flex;
      justify-content: space-between;
      padding: 0;
      box-shadow: 0px 0px 50px 0px rgba(147, 84, 103, 0.6);

      .tombol{
        width: inherit;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .spinner {
        &.spin {
          animation: spin 5s linear infinite;
        }

        .spinner__disc {
          height: 110px;
          width: 110px;
          border-radius: 50%;
          transition: all 1s ease;
          background-image: url();
          background-size: cover;
          background-position: center;
          display: flex;
          align-items: center;
          justify-content: center;

          &.scale {
            transform: scale(1.17);
            transition: all 1s ease;

            .center__disc {
              color: #e4d6e9;
              transition: all 1s ease;
            }
          }

          .center__disc {
            background-color: white;
            height: 25px;
            width: 25px;
            border-radius: 50%;
          }
        }
      }
    }

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }