* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --main-radius: 5px;
  /* --main-padding: 8px; */
}

.container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  padding: 5px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.01fr 1fr 0.01fr;
      grid-template-rows: 0.01fr 1fr 0.01fr;
      grid-template-areas: "nav" "player" "footer";
  gap: 0.2rem;
  color: #004d40;
  text-align: center;
}

nav {
  background: #ddd;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  border-radius: var(--main-radius);
}

.player {
  /* background: #ddd; */
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: player;
  border-radius: var(--main-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  background: #ddd;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  border-radius: var(--main-radius);
}

.song-panel {
  width: 75%;
  background-color: #fcf8fa;
  border-radius: 15px 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 0;
  -webkit-box-shadow: 0px 33px 90px 11px rgba(147, 84, 103, 0.6);
          box-shadow: 0px 33px 90px 11px rgba(147, 84, 103, 0.6);
}

.song-panel .song-info {
  width: 100%;
  height: 70px;
  padding: 10px 20px;
}

.song-panel .song-info .song-info__title {
  color: #444b59;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.song-panel .song-info .song-info__artist {
  color: #a5a7af;
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.song-panel .song-info .progress {
  background: #fff;
  border-radius: 3px;
  cursor: ew-resize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-height: 5px;
  position: relative;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  width: 100%;
}

.song-panel .song-info .progress .progress__filled {
  background: #fc8da8;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  width: 50%;
}

.song-panel.playing {
  -webkit-transform: translate3d(0, 25%, 0);
          transform: translate3d(0, 25%, 0);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
}

button:hover,
button.playing {
  color: black;
}

button.play span.pause {
  background-color: black;
  position: absolute;
  top: 35px;
  height: 35px;
  width: 10px;
  display: block;
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

button.play span.pause.left {
  left: 0;
}

button.play.playing span.pause.left {
  left: 8px;
  opacity: 1;
  -webkit-transition: left 0.5s ease, opacity 0.8s ease;
  transition: left 0.5s ease, opacity 0.8s ease;
}

button.play span.pause.right {
  right: 0;
}

button.play.playing span.pause.right {
  right: 8px;
  opacity: 1;
  -webkit-transition: right 0.5s ease, opacity 0.8s ease;
  transition: right 0.5s ease, opacity 0.8s ease;
}

button.play i {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

button.play.playing i {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

button.pause i {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

button.pause.playing i {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

button:focus {
  outline: none;
}

.player-controls {
  position: relative;
  background-color: #fff;
  border-radius: 75px 15px 15px 75px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-shadow: 0px 33px 90px 11px rgba(147, 84, 103, 0.6);
          box-shadow: 0px 33px 90px 11px rgba(147, 84, 103, 0.6);
}

.player-controls .spinner.spin {
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}

.player-controls .spinner .spinner__disc {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url();
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player-controls .spinner .spinner__disc.scale {
  -webkit-transform: scale(1.17);
          transform: scale(1.17);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.player-controls .spinner .spinner__disc.scale .center__disc {
  color: #e4d6e9;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.player-controls .spinner .spinner__disc .center__disc {
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=player7.css.map */