@import url("https://fonts.googleapis.com/css?family=Montserrat");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#app {
  width: 100%;
  margin-top: 50px;
}

.song .wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.song .wrapper .overlay-play {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fd6a02;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
}

.song .wrapper .overlay-play i {
  font-size: 1.8em;
  line-height: 40px;
  color: #fff;
}

.song .song-title {
  font-weight: 700;
  margin-bottom: 0;
  line-height: auto;
}

.song .song-artiste {
  line-height: auto;
}

.music-player {
  width: 100%;
  bottom: 0;
  position: fixed;
}

.music-player .playlist {
  width: auto;
  max-width: 400px;
  background-color: rgba(255, 80, 0, 0.71);
  position: relative;
  margin-left: auto;
  z-index: 1;
}

.music-player .playlist .show {
  overflow: auto;
}

.music-player .playlist .wrap {
  max-height: 75px;
  overflow: auto;
  scrollbar-width: 5px;
}

.music-player .playlist .wrap .song-wrap {
  height: 25px;
  width: 100%;
  color: white;
  cursor: pointer;
}

.music-player .playlist .wrap .song-wrap:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.music-player .playlist .wrap .song-wrap:not(:last-child) {
  border-bottom: 0.05em solid #cdcdcd;
}

.music-player .playlist .wrap .song-wrap .song-details {
  font-size: 0.8em;
  line-height: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.music-player .playlist .wrap .song-wrap .song-details span {
  line-height: 15px;
}

.music-player .playlist .wrap .song-wrap .song-details span.play {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  height: 17px;
  width: 17px;
  text-align: center;
}

.music-player .playlist .wrap .song-wrap .song-details span.play i {
  text-align: center;
}

.music-player .playlist .wrap .song-wrap .song-details .music-bars-gif {
  height: 10px;
}

.music-player .playlist .wrap::-webkit-scrollbar {
  width: 5px;
}

.music-player .playlist .wrap::-webkit-scrollbar-track {
  background-color: #ccc;
  -webkit-box-shadow: inset 0 0 6px #919191;
  border-radius: 0;
}

.music-player .playlist .wrap::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #d2d2d2;
  -webkit-box-shadow: inset 0 0 6px rgba(238, 238, 238, 0.5);
}

.music-player .player {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 60px;
  background-color: #6f6f6f;
}

.music-player .player .player-contents-wrap {
  position: relative;
  width: 100%;
  height: 60px;
}

.music-player .player .player-contents-wrap .album-art {
  background-color: white;
  width: 60px;
  height: 60px;
}

.music-player .player .player-contents-wrap .album-art .img {
  width: 60px;
  height: 60px;
}

.music-player .player .player-contents-wrap .main-controls {
  position: absolute;
  right: 0;
  width: calc(100% - 60px);
  height: 60px;
  top: 0;
}

.music-player .player .player-contents-wrap .main-controls i {
  cursor: pointer;
}

.music-player .player .player-contents-wrap .main-controls .controls {
  width: 15%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
}

.music-player .player .player-contents-wrap .main-controls .controls i {
  font-size: 1.8em;
  color: white;
}

.music-player .player .player-contents-wrap .main-controls .controls .play {
  text-align: center;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
}

.music-player .player .player-contents-wrap .main-controls .controls .play i {
  line-height: 40px;
  text-align: center;
}

.music-player .player .player-contents-wrap .main-controls .seek {
  padding-left: 20px;
  padding-top: 0;
  position: absolute;
  height: 60px;
  width: 85%;
  top: 0;
  left: unset;
  right: 0;
}

.music-player .player .player-contents-wrap .main-controls .seek .title-and-time {
  height: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.music-player .player .player-contents-wrap .main-controls .seek .progress-container {
  position: relative;
  height: 10px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.music-player .player .player-contents-wrap .main-controls .seek .progress-container .progress {
  background-color: rgba(0, 0, 0, 0.05);
  height: 4px;
  width: 100%;
  margin: 0;
  padding: 0 2px;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.music-player .player .player-contents-wrap .main-controls .seek .progress-container .progress .progress-handle {
  display: block;
  position: absolute;
  z-index: 6;
  margin-top: 0;
  margin-left: -2px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.music-player .player .player-contents-wrap .main-controls .seek .progress-container .progress .progress-handle:hover {
  background-color: #000;
}

.music-player .player .player-contents-wrap .main-controls .seek .progress-container .progress .transparent-seeker-layer {
  width: 100%;
  height: 6px;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 5;
}

.music-player .player .player-contents-wrap .main-controls .seek .progress-container .progress .bar {
  width: 0;
  background-color: #fff;
  height: 4px;
  position: absolute;
}

.music-player .player .player-contents-wrap .main-controls .seek .extra-controls {
  height: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.music-player .player .player-contents-wrap .main-controls .seek .extra-controls .like {
  padding-left: 8px;
  height: 25px;
}

.music-player .player .player-contents-wrap .main-controls .seek .extra-controls .like i {
  font-size: 1em;
  line-height: 25px;
}

.music-player .player .player-contents-wrap .main-controls .seek .extra-controls .download {
  padding-left: 8px;
  height: 25px;
}

.music-player .player .player-contents-wrap .main-controls .seek .extra-controls .download i {
  font-size: 1em;
  line-height: 25px;
}

.music-player .player .player-contents-wrap .main-controls .seek .extra-controls .shuffle-icon {
  padding-left: 8px;
  height: 25px;
}

.music-player .player .player-contents-wrap .main-controls .seek .extra-controls .shuffle-icon i {
  font-size: 1.2em;
  line-height: 25px;
}

.music-player .player .player-contents-wrap .main-controls .seek .extra-controls .repeat {
  position: relative;
  padding-left: 8px;
  height: 25px;
}

.music-player .player .player-contents-wrap .main-controls .seek .extra-controls .repeat .repeat-info {
  background-color: red;
  width: 13px;
  height: 13px;
  border-radius: 8px;
  position: absolute;
  font-size: 7px;
  line-height: 12px;
  text-align: center;
  right: -12px;
  top: 5px;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.music-player .player .player-contents-wrap .main-controls .seek .extra-controls .repeat i {
  font-size: 1.2em;
  line-height: 25px;
}

.music-player .player .player-contents-wrap .main-controls .seek .extra-controls .playlist-icon {
  margin-left: 30px;
  height: 25px;
}

.music-player .player .player-contents-wrap .main-controls .seek .extra-controls .playlist-icon i {
  font-size: 1.2em;
  line-height: 25px;
}

.height-enter-active {
  -webkit-animation: bounce-in 0.5s;
          animation: bounce-in 0.5s;
}

.height-leave-active {
  animation: bounce-in 0.5s reverse;
}

@-webkit-keyframes bounce-in {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 75px;
  }
}

@keyframes bounce-in {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 75px;
  }
}
/*# sourceMappingURL=player10.css.map */