<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="layout4.css">
</head>

<body>
  <div class="mhn-player">
    <div class="album-art"></div>
    <div class="play-list">
      <a href="#" class="play" data-id="1" data-album="A New Day Has Come (2002)" data-artist="Céline Dion"
        data-title="A New Day Has Come" data-albumart="https://upload.wikimedia.org/wikipedia/id/4/43/Andhc01.jpeg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline%20Dion%20-%20A%20New%20Day%20Has%20Come.mp3"></a>

      <a href="#" class="play" data-id="2" data-album="Falling into You (1996)" data-artist="Céline Dion"
        data-title="All By Myself" data-albumart="https://i.ytimg.com/vi/VJzUwgLOrjk/maxresdefault.jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - All By Myself.mp3"></a>

      <a href=" #" class="play" data-id="3" data-album="Falling into You (1996)" data-artist="Céline Dion"
        data-title="Because You Loved Me"
        data-albumart="https://upload.wikimedia.org/wikipedia/en/thumb/e/ea/Because_You_Loved_Me_(Céline_Dion_single_-_cover_art).jpg/220px-Because_You_Loved_Me_(Céline_Dion_single_-_cover_art).jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - Because You Loved Me.mp3"></a>

      <a href="#" class="play" data-id="4" data-album="A New Day Has Come (2002)" data-artist="Céline Dion"
        data-title="Goodbye's (The Saddest Word)" data-albumart="https://i.ytimg.com/vi/yHH4nzP3ut8/hqdefault.jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - Goodbye's (The Saddest Word).mp3"></a>

      <a href="#" class="play" data-id="5" data-album="One Heart (2003)" data-artist="Céline Dion"
        data-title="I Drove All Night" data-albumart="https://f4.bcbits.com/img/a0158260742_10.jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - I Drove All Night.mp3"></a>

      <a href="#" class="play" data-id="6" data-album="A New Day Has Come (2002)" data-artist="Céline Dion"
        data-title="I Surrender" data-albumart="https://i.ytimg.com/vi/y4zDPPvHkOI/maxresdefault.jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - I Surrender.mp3"></a>

      <a href="#" class="play" data-id="7" data-album="A New Day Has Come (2002)" data-artist="Céline Dion"
        data-title="I'm Alive" data-albumart="https://upload.wikimedia.org/wikipedia/en/d/dd/Celine_dion-im_alive_s.jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - I'm Alive.mp3"></a>

      <a href="#" class="play" data-id="8" data-album="Let's Talk About Love (1997)" data-artist="Céline Dion"
        data-title="Immortality"
        data-albumart="https://upload.wikimedia.org/wikipedia/en/7/70/Immortality_(Celine_Dion_song).jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - Immortality.mp3"></a>


      <a href="#" class="play" data-id="8" data-album="Falling into You (1996)" data-artist="Céline Dion"
        data-title="It's All Coming Back To Me Now"
        data-albumart="http://www.powerofthemusic.com/images/singles/iacbtmn9.jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - It's All Coming Back To Me Now.mp3"></a>

      <a href="#" class="play" data-id="8" data-album="These Are Special Times (1998)" data-artist="Céline Dion"
        data-title="The Prayer"
        data-albumart="https://images.genius.com/05e768ac0699ec455e5f1b3a0f6ba151.1000x1000x1.jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - Prayer.mp3"></a>

      <a href="#" class="play" data-id="8" data-album="A New Day Has Come (2002)" data-artist="Céline Dion"
        data-title="Sorry For Love" data-albumart="https://i.ytimg.com/vi/0-qEH_Cm7YI/maxresdefault.jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - Sorry For Love.mp3"></a>

      <a href="#" class="play" data-id="8" data-album="A New Day Has Come (2002)" data-artist="Céline Dion"
        data-title="Super Love" data-albumart="https://i.ytimg.com/vi/2k6VKlSCm9g/hqdefault.jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - Super Love.mp3"></a>

      <a href="#" class="play" data-id="8" data-album="All the Way... A Decade of Song (1999)" data-artist="Céline Dion"
        data-title="That's The Way It Is"
        data-albumart="https://upload.wikimedia.org/wikipedia/en/1/1b/That's_the_Way_It_Is_(Celine_Dion_song).jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - That's The Way It Is.mp3"></a>

      <a href="#" class="play" data-id="8" data-album="The Colour of My Love (1993)" data-artist="Céline Dion"
        data-title="The Power Of Love"
        data-albumart="https://c-sf.smule.com/rs-s89/arr/9c/34/09f4feeb-397e-4c3e-876f-7b738c4ff8ac_1024.jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - The Power Of Love.mp3"></a>

      <a href="#" class="play" data-id="8" data-album="The Colour of My Love (1993)" data-artist="Céline Dion"
        data-title="To Love You More" data-albumart="https://i.ytimg.com/vi/HLeYvefzUFA/maxresdefault.jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - To Love You More.mp3"></a>

      <a href="#" class="play" data-id="8" data-album="Celine Dion (1992)" data-artist="Céline Dion"
        data-title="Water From The Moon" data-albumart="https://i.ytimg.com/vi/KaR9CXCjVvM/hqdefault.jpg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - Water From The Moon.mp3"></a>

      <a href="#" class="play" data-id="8" data-album="A New Day Has Come (2002)" data-artist="Céline Dion"
        data-title="When The Wrong One Loves You Right"
        data-albumart="https://upload.wikimedia.org/wikipedia/en/4/4c/CelineDion3CD.JPG"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - When The Wrong One Loves You Right.mp3"></a>

      <a href="#" class="play" data-id="8" data-album="Unison (1990)" data-artist="Céline Dion"
        data-title="Where Does My Heart Beat Now"
        data-albumart="https://upload.wikimedia.org/wikipedia/en/thumb/1/12/WDMHBN.jpeg/220px-WDMHBN.jpeg"
        data-url="https://raw.githubusercontent.com/onysu/music-streaming/main/files/audio/Céline Dion - Where Does My Heart Beat Now.mp3"></a>

    </div>
    <div class="audio"></div>
    <div class="current-info">
      <div class="song-artist"></div>
      <div class="song-album"></div>
      <div class="song-title"></div>
    </div>
    <div class="controls">
      <a href="#" class="toggle-play-list"><i class="fa fa-list-ul"></i></a>
      <div class="duration clearfix">
        <span class="pull-left play-position"></span>
        <span class="pull-right"><span class="play-current-time">00:00</span> / <span
            class="play-total-time">00:00</span></span>
      </div>
      <div class="progress">
        <div class="bar"></div>
      </div>
      <div class="action-button">
        <a href="#" class="prev"><i class="fa fa-step-backward"></i></a>
        <a href="#" class="play-pause"><i class="fa fa-pp"></i></a>
        <a href="#" class="stop"><i class="fa fa-stop"></i></a>
        <a href="#" class="next"><i class="fa fa-step-forward"></i></a>
        <input type="range" class="volume" min="0" max="1" step="0.1" value="0.5" data-css="0.5">
      </div>

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://enscrollplugin.com/releases/enscroll-0.6.1.min.js"></script>
  <script src="layout4.js"></script>
</body>

</html>