@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  color: #222;
  height: 100vh;
}

.player {
  height: 150px;
  background-color: #eee;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 320px;
}

.player ul {
  list-style: none;
}

.player ul li {
  display: -ms-grid;
  display: grid;
}

.player ul .cover {
  float: left;
}

.player ul .cover img {
  height: 150px;
  width: 150px;
  border-radius: 0 50% 50% 0;
}

.player ul .info {
  height: 150px;
  padding: 10px;
  line-height: 1.2;
  color: #222;
}

.player ul .info .material-icons {
  font-size: 4vw;
  color: red;
}

.player ul .info h1 {
  font-size: 4vw;
  font-weight: 500;
  color: #222;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.player ul .info p {
  font-size: 4vw;
  font-weight: 300;
  color: #222;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.player ul .info #slider {
  height: 2px;
  background: #151518;
  border-radius: 2px;
}

.player ul .info #slider div {
  width: 2px;
  height: 2px;
  background: red;
  border-radius: 2px;
}

.player ul .info #slider #timer {
  color: #999;
  font-size: 12px;
  float: right;
  font-family: Arial, Sans-Serif;
  margin-top: 3px;
}

.player ul .info .controls svg:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

.player ul .info .controls #play {
  padding: 0 3px;
  width: 30px;
  height: 30px;
}

.player ul .info .controls #play g {
  stroke: #fefefe;
  stroke-width: 1;
  stroke-miterlimit: 10;
}

.player ul .info .controls #play g path {
  fill: #fefefe;
}

.player ul .info .controls #play:hover {
  cursor: pointer;
}

.player ul .info .controls #play:hover g {
  stroke: #8f4da9;
  cursor: pointer;
}

.player ul .info .controls #play:hover g path {
  fill: #9b59b6;
  cursor: pointer;
}

.player ul .info .controls .step-backward {
  width: 18px;
  height: 18px;
  enable-background: new 0 0 25 25;
}

.player ul .info .controls .step-backward g polygon {
  fill: #fefefe;
}

.player ul .info .controls .step-foreward {
  width: 18px;
  height: 18px;
  enable-background: new 0 0 25 25;
}

.player ul .info .controls .step-foreward g polygon {
  fill: #fefefe;
}

.player ul .info .controls #pause {
  enable-background: new 0 0 25 25;
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
}

.player ul .info .controls #pause rect {
  fill: white;
}

.player ul .info .controls #pause:hover rect {
  fill: #8f4da9;
}

.player ul .info .controls .step-backward g polygon:hover,
.player ul .info .controls .step-foreward g polygon:hover {
  fill: #ef6dbc;
  cursor: pointer;
}

.player ul .info .controls p {
  color: #bdbdbd;
}

.player ul .info .controls #skip {
  float: right;
  margin-top: 10px;
}

.player ul .info .controls #skip p {
  color: #2980b9;
}

.player ul .info .controls #skip p:hover {
  color: #e74c3c;
  cursor: pointer;
}

.player ul .info .controls .expend {
  cursor: pointer;
}

.player ul .info .controls .expend svg:hover g polygon {
  fill: #ef6dbc;
}

@media only screen and (min-width: 320px) {
  .player ul .info .material-icons {
    font-size: 5vw;
    color: red;
  }
  .player ul .info h1 {
    font-size: 5vw;
    font-weight: 500;
    color: #222;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .player ul .info p {
    font-size: 5vw;
    font-weight: 300;
    color: #222;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media only screen and (min-width: 768px) {
  .player ul .info .material-icons {
    font-size: 3vw;
    color: red;
  }
  .player ul .info h1 {
    font-size: 3vw;
    font-weight: 500;
    color: #222;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .player ul .info p {
    font-size: 3vw;
    font-weight: 300;
    color: #222;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media only screen and (min-width: 992px) {
  .player ul .info .material-icons {
    font-size: 1.5vw;
    color: red;
  }
  .player ul .info h1 {
    font-size: 1.5vw;
    font-weight: 500;
    color: #222;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .player ul .info p {
    font-size: 1.5vw;
    font-weight: 300;
    color: #222;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.player ul .playlist {
  padding: 15px;
  top: 150px;
  overflow: auto;
}

.player ul .playlist p {
  height: 600px;
}
/*# sourceMappingURL=exp9.css.map */