@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  color: #222;
  height: 100vh;
}

@mixin unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.player {
  height: 150px;
  background-color: #eee;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 320px;

  ul {
    list-style: none;

    li {
      display: grid;
    }

    .cover {
      float: left;

      img {
        height: 150px;
        width: 150px;
        border-radius: 0 50% 50% 0;
      }
    }

    .info {
      height: 150px;
      padding: 10px;
      line-height: 1.2;
      color: #222;

      .material-icons {
        font-size: 4vw;
        color: red;
      }

      h1 {
        font-size: 4vw;
        font-weight: 500;
        color: #222;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      p {
        font-size: 4vw;
        font-weight: 300;
        color: #222;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      #slider {
        height: 2px;
        background: #151518;
        border-radius: 2px;

        div {
          width: 2px;
          height: 2px;
          background: red;
          border-radius: 2px;
        }

        #timer {
          color: #999;
          font-size: 12px;
          float: right;
          font-family: Arial, Sans-Serif;
          margin-top: 3px;
        }
      }

      .controls {
        svg:nth-child(2) {
          margin-left: 5px;
          margin-right: 5px;
        }

        #play {
          padding: 0 3px;
          width: 30px;
          height: 30px;
          // enable-background: new 0 0 25 25;

          g {
            stroke: #fefefe;
            stroke-width: 1;
            stroke-miterlimit: 10;

            path {
              fill: #fefefe;
            }
          }
        }

        #play:hover {
          cursor: pointer;

          g {
            stroke: #8f4da9;
            cursor: pointer;

            path {
              fill: #9b59b6;
              cursor: pointer;
            }
          }
        }

        .step-backward {
          width: 18px;
          height: 18px;
          enable-background: new 0 0 25 25;

          g polygon {
            fill: #fefefe;
          }
        }

        .step-foreward {
          width: 18px;
          height: 18px;
          enable-background: new 0 0 25 25;

          g polygon {
            fill: #fefefe;
          }
        }

        #pause {
          enable-background: new 0 0 25 25;
          width: 30px;
          height: 30px;
          position: absolute;
          cursor: pointer;

          rect {
            fill: white;
          }
        }

        #pause:hover rect {
          fill: #8f4da9;
        }

        .step-backward g polygon:hover,
        .step-foreward g polygon:hover {
          fill: #ef6dbc;
          cursor: pointer;
        }

        p {
          color: #bdbdbd;
        }

        #skip {
          float: right;
          margin-top: 10px;

          p {
            color: #2980b9;
          }

          p:hover {
            color: #e74c3c;
            cursor: pointer;
          }
        }

        .expend {
          cursor: pointer;

          svg:hover g polygon {
            fill: #ef6dbc;
          }
        }
      }

      @media only screen and (min-width: 320px) {
        .material-icons {
          font-size: 5vw;
          color: red;
        }

        h1 {
          font-size: 5vw;
          font-weight: 500;
          color: #222;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        p {
          font-size: 5vw;
          font-weight: 300;
          color: #222;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      @media only screen and (min-width: 768px) {
        .material-icons {
          font-size: 3vw;
          color: red;
        }

        h1 {
          font-size: 3vw;
          font-weight: 500;
          color: #222;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        p {
          font-size: 3vw;
          font-weight: 300;
          color: #222;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      @media only screen and (min-width: 992px) {
        .material-icons {
          font-size: 1.5vw;
          color: red;
        }

        h1 {
          font-size: 1.5vw;
          font-weight: 500;
          color: #222;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        p {
          font-size: 1.5vw;
          font-weight: 300;
          color: #222;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .playlist {
      padding: 15px;
      top: 150px;
      overflow: auto;
    }

    .playlist p {
      height: 600px;
    }
  }
}