@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.player {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 375px;
  min-width: 320px;
  height: 100%;
  max-height: 667px;
  overflow: hidden;
  border-radius: 10px;
}

.player .main {
  width: 100%;
  height: 100%;
  background: #111;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.player .main .thumbnail img {
  width: 100%;
}

.player .main .seekbar {
  margin-top: -15px;
}

.player .main .seekbar input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: black;
  outline: none;
  border: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.player .main .seekbar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 5px;
  background: darkslategrey;
  -webkit-box-shadow: -300px 0px 0px 300px darkred;
          box-shadow: -300px 0px 0px 300px darkred;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
}

.player .main .details {
  text-align: center;
  padding: 10px 0px;
}

.player .main .details h2 {
  font-size: 18px;
  color: wheat;
  font-weight: 400;
  margin: 0;
}

.player .main .details p {
  font-size: 15px;
  color: #aaa;
  font-weight: 300;
  margin: 0;
}

.player .main .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px 0px;
}

.player .main .controls div {
  margin: 0px 20px;
  cursor: pointer;
}

.player .main .controls i.fa {
  font-size: large;
  color: #ddd;
  font-weight: 300;
}

.player .main .controls div.play-pause-control i.fa-play {
  display: none;
}

.player .main .controls div.play-pause-control.paused i.fa-play {
  display: block;
}

.player .main .controls div.play-pause-control.paused i.fa-pause {
  display: none;
}

.player .player-list {
  position: absolute;
  width: 100%;
  margin-top: -20px;
  height: 480px;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.player .player-list .toggle-list {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  background: #111;
  cursor: pointer;
}

.player .player-list .toggle-list i.fa {
  color: #ccc;
  font-size: 20px;
  font-weight: 600;
}

.player .player-list .toggle-list i.fa-angle-down {
  display: none;
}

.player .player-list .toggle-list.active i.fa-angle-up {
  display: none;
}

.player .player-list .toggle-list.active i.fa-angle-down {
  display: block;
}

.player .player-list .list {
  padding: 10px;
}

.player .player-list .list .thumbnail img {
  width: 100%;
  height: 100%;
}

.player .player-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px;
  border-bottom: 1px solid #222;
  cursor: pointer;
}

.player .player-list .item .thumbnail {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.player .player-list .item .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 10px;
}

.player .player-list .item .details h2 {
  color: wheat;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.player .player-list .item .details p {
  color: #aaa;
  font-size: 13px;
  font-weight: 300;
  margin: 0;
}

.player-list::-webkit-scrollbar {
  width: 5px;
  background: #222;
}

.player-list::-webkit-scrollbar-thumb {
  background: #111;
}

.player.activeSongList .player-list {
  margin-top: -480px;
}

@media screen and (min-width: 375px) {
  .player .main .details {
    padding: 20px 0;
  }
  .player .main .details h2 {
    font-size: x-large;
  }
  .player .main .details p {
    font-size: large;
  }
  .player .main .controls i.fa {
    font-size: xx-large;
    padding: 10px 0;
  }
}
/*# sourceMappingURL=16.css.map */