@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  background: #333;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.container {
  padding: 0;
}

.wadah {
  display: grid;
  height: 100vh;
  padding: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.01fr 1fr 0.01fr;
  grid-template-areas:
    "nav"
    "player"
    "footer";
  gap: 0.2rem;
  color: #004d40;
  text-align: center;
}

nav {
  background: #333;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
  color: red;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 20px;
}

.player {
  position: relative;
  background: #ddd;
  grid-area: player;
  border-radius: var(--main-radius);
  overflow: hidden;
}

.player .main {
  height: 100%;
  background: #222;
  transition: all 500ms ease-in-out;
}

/* .player .main .thumbnail img {
  width: 100%;
} */

.player .main .seekbar {
  margin-top: -15px;
}

.player .main .seekbar input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  outline: none;
  background: #333;
  overflow: hidden;
}

.player .main .seekbar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
  box-shadow: -300px 0px 0px 300px red;
}

.player .main .details {
  text-align: center;
  padding: 25px 0px;
}

.player .main .details h2 {
  font-size: 25px;
  color: #eee;
  margin-bottom: 0;
}

.player .main .details p {
  font-size: 20px;
  color: #aaa;
  margin-bottom: 0;
}

.player .main .controls {
  display: flex;
  justify-content: center;
}

.player .main .controls>div {
  margin: 0px 30px;
  cursor: pointer;
}

.player .main .controls i.fa {
  font-size: 25px;
  color: #ddd;
}

.player .main .controls>div.play-pause-control i.fa-play {
  display: none;
}

.player .main .controls>div.play-pause-control.paused i.fa-play {
  display: block;
}

.player .main .controls>div.play-pause-control.paused i.fa-pause {
  display: none;
}

.player .player-list {
  position: absolute;
  width: 100%;
  margin-top: -26px;
  height: 500px;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  transition: all 500ms ease-in-out;
}

.player .player-list .toggle-list {
  position: sticky;
  top: 0px;
  text-align: center;
  height: 30px;
  line-height: 20px;
  background: black;
}

.player .player-list .toggle-list i.fa {
  color: #ccc;
  font-size: 25px;
  font-weight: 600;
}

.player .player-list .toggle-list i.fa-angle-down {
  display: none;
}

.player .player-list .toggle-list.active i.fa-angle-up {
  display: block;
}

.player .player-list .toggle-list.active i.fa-angle-down {
  display: none;
}

.player .list {
  padding: 10px;
}

.player .list .item {
  display: flex;
  padding: 5px 0px;
  border-bottom: 1px solid #222;
  cursor: pointer;
}

.player .list .item .thumbnail {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.player .list .thumbnail img {
  width: 100%;
  height: 100%;
}

.player .list .item .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;
}

.player .list .item .details h2 {
  color: #eee;
  font-size: 16px;
  margin-bottom: 0;
  text-align: start;
}

.player .list .item .details p {
  color: #aaa;
  font-size: 15px;
  margin-bottom: 0;
  text-align: start;
}

.player .player-list::-webkit-scrollbar {
  width: 5px;
  background: #222;
}

.player .player-list::-webkit-scrollbar-thumb {
  background: #666;
}

.player.activeSongList .player-list {
  margin-top: -500px;
}

footer {
  background: #333;
  color: wheat;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

.insetshadow {
  color: #202020;
  font-size: small;
  text-shadow:
    -1px -1px 1px darkslategray,
    2px 2px 1px #363636;
}

@media screen and (max-width: 539.98px) {
  .player .main .thumbnail img {
    width: 100%;
  }
}
@media screen and (min-width: 1023.98px) {
  .player .main .thumbnail img {
    width: 80%;
  }
}